<div class="d-flex justify-content-center">
    <div class="adjust-length mt-4">
        <div class="card">
            <div class="card-header">
                <ng-container *ngIf="formGroup.value.id===undefined">
                    Add Employee
                </ng-container>
                <ng-container *ngIf="formGroup.value.id!==undefined">
                    Edit Employee
                </ng-container>
            </div>
            <div class="card-body">
                <form [formGroup]="formGroup">
                    <div class="form-group">
                        <label for="fName">First Name</label>
                        <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="fname">
                    </div>
                    <div class="form-group">
                        <label for="lName">Last Name</label>
                        <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lname">
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <input type="text" class="form-control" id="department" placeholder="Department" formControlName="department">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="save" class="btn btn-outline-success mr-2" (click)="save()">Save</button>
                        <button id="cancel" class="btn btn-outline-warning" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>